/* GLOBAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #33475B;
  font-size: 16px;
}

a{
  text-decoration: none;
  color: #33475B;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.container{
  width: 100%;
  padding: 0 10%;
  min-width: 1200px;
}

.gray{
  background-color: #F4F9FD;
}

.white{
  background-color: white;
}

/* BLOCK */
.block{
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px lightgray;
}

.block-title{
  font-size: 180%;
}

.block-text{
  line-height: 30px;
}

.block-subtitle{
  font-size: 130%;
  text-transform: uppercase;
}

.fa-check-circle{
  color: #FE775A;
  padding-right: 10px;
}

/* BUTTON */
.btn{
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #FE775A;
}

.btn-large{
  padding: 20px 50px;
}

.btn-white{
  color: #FE775A;
}

.btn-orange{
  background-color: #FE775A;
  color: #F4F9FD;
}

/* MENU */
.menu{
  list-style: none;
  width: 80%;
  text-align: right;
}

.menu-line{
  display: inline-block;
}

.menu-line span{
  padding-right: 15px;
}

.right-menu-line{
  padding-left: 30px;
}

/* NAV */
.nav-container{
  position: fixed;
  z-index: 999;
  top: 0;
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid #33475B;
}

.nav-left{
  width: 20%;
  min-width: 240px;
}

.nav-left .language{
  padding-right: 20px;
}

.nav-left .contact{
  padding-left: 20px;
  border-left: 2px solid #33475B;
}

.nav-right{
  width: 50%;
  min-width: 500px;
}

.fa-search{
  color: #08A7BF;
}

/* HEADER */
.header-container{
  height: 100px;
  line-height: 100px;
  margin-top: 100px;
}

.header-logo{
  width: 20%;
  padding-top: 10px;
}

.header-menu{
  min-width: 650px;
}

/* JUMBOTRON */
.jumbotron{
  height: 800px;
  position: relative;
  background-color: #FFF2EE;
}

.jumbotron-container{
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  background-image: url(../img/jumbotron.png);
  background-position: 100%;
  background-size: 1650px;
  background-repeat: no-repeat;
}

.jumbotron-contnent{
  width: 50%;
  max-width: 730px;
  min-width: 700px;
}

.jumbotron-contnent *{
  margin-bottom: 40px;
}

.jumbotron-title{
  padding-top: 100px;
  font-size: 350%;
}

.jumbotron-text{
  margin-bottom: 60px;
  line-height: 30px;
}

.jumbotron-footer{
  margin-top: 60px;
}

.row{
  position: absolute;
  z-index: 10;
  bottom: 0;
  height: 95px;
  width: 100%;
  background-color: #AFEBE4;
  border-top: 5px solid #33475B;
  border-bottom: 5px solid #33475B;
}

/* PART-1 */
.part-1{
  height: 2100px;
}

/* CUBE */
.cube{
  position: relative;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 150px;
}

.cube-title{
  font-size: 250%;
  padding-top: 10px;
  padding-bottom: 40px;
}

.cube-text{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  line-height: 40px;
  font-size: 110%;
}

/* FREE HUBSPOT */
.free-container{
  height: 450px;
  position: relative;
  min-width: 1330px;
}

.free-content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* FREE HUBSPOT LEFT */
.free-left{
  width: 20%;
  text-align: center;
}

.free-left img{
  width: 200px;
  margin-bottom: 50px;
}

/* FREE HUBSPOT RIGHT */
.free-right{
  width: 80%;
  padding: 0 10%;
}

.free-right > *{
  padding-bottom: 30px;
  text-align: left;
}
/* LINE */
.free-subtitle::after {
  position: absolute;
  top: 65%;
  left: 50%;
  content: '';
  display: block;
  width: 40%;
  height: 1px;
  border-bottom: 1px solid #33475B;
}

/* COLUMNS */
.column-container{
  margin: 5% 0;
  min-width: 1040px;
}

.column{
  position: relative;
  height: 770px;
  width: calc(90%/3);
  padding: 0 1%;
  text-align: center;
  min-width: 310px;
}

.column-content{
  padding: 5% 5%;
}

.column img{
  height: 150px;
}

.column-content > *{
  padding-bottom: 30px;
}

/* LINE */
.column .block-text::after {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  display: block;
  width: 80%;
  height: 1px;
  border-bottom: 1px solid #33475B;
}

.bottom-column{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.bottom-column .block-subtitle{
  margin-top: 30px;
}

.bottom-column > *{
  margin-bottom: 30px;
}

.column .block-subtitle{
  padding-top: 80px;
}

.column-list li{
  display: block;
  text-align: left;
}

.column-list{
  padding-bottom: 50px;
}

.marketing,.sales{
  margin-right: 5%;
}


/* PART-2 */
.part-2{
  height: 850px;
  background-image: linear-gradient(to top right, #00A4BD, #00BCA6);
  color: white;
}

/* BLUE/BOX */
.blue-container{
  text-align: center;
  padding: 5% 0;
}

.blue-title{
  font-size: 220%;
}

.blue-text{
  font-size: 120%;
  line-height: 40px;
  margin: 50px 0;
}

/* GRID */
.rule-1{
  border-bottom: 1px solid white;
}

.rule-2 > *{
  padding-top: 10px;
}

.cell{
  width: 25%;
  height: 200px;
  border-left: 1px solid white;
}

.cell *{
  padding: 3%;
}

.cell img{
  height: 60px;
}

.cell-number{
  font-size: 300%;
}

.cell-text{
  font-size: 80%;
}

.cell-1{
  border: none;
}